@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.homepage h1 {
  border: ridge 1px tomato;
  background-color: antiquewhite;
}

h1 {
  font-weight: 1000;
  font-size: 35px;
  font-family: fantasy;
  text-align: center;
}

.homepage ul {
  list-style: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  border: dashed rgb(230, 159, 67) 1px;
}

.pages {
  background-color: antiquewhite;
}

.pages h1 {
  border: ridge 2px azure;
}

h3 {
  text-decoration: underline;
}

ol {
  border: solid 3px azure;
}

div {
  text-align: center;
}

div .links {
  display: flex;
}
